<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Desafio 09</title>
</head>
<body>
    <h1>Vídeos Legais para assistir</h1>
    <a href="video1.html">
        <img src="img/dia36.png" alt="Live dia 36" width="350">
    </a>
    <a href="video2.html">
        <img src="img/dia33.png" alt="Live dia 33" width="350">
    </a>
    <a href="video3.html">
        <img src="img/dia26.png" alt="Live dia 26" width="350">
    </a>
    <a href="video4.html">
        <img src="img/dia16.png" alt="Live dia 16" width="350">
    </a>
</body>
</html>